.titre {
    color: blue;
    font-size: 50px;
    text-align: center;
}


.lien a {
    color: red;
    font-size: 32px;
    text-align: center;
    display: block; 
}
.lien {
    color: red;
    font-size: 32px;
    text-align: center;
    display: inline-block; 
}
.lien:hover {
    color: green;
}
.lien a:hover {
    color: green;
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
	margin-top:200px;
}
.images img {
    width: 350px;
}
