* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
}

.container {
  width: 90vw;    
  max-width: 2000px; 
}

header {
  text-align: center;
  padding: 1rem;
  background-color: #006064;
  color: white;
  border-radius: 8px;
  margin-bottom: 1rem;
}

#jeu {
  position: relative;   
  width: 100%;
  height: 80vh;    
  background-color: #b2ebf2;
  border: 2px solid #004d40;
  border-radius: 8px;
  overflow: hidden;
}

#personnage {
  position: absolute;
  width: 8vw;
  max-width: 60px;
  height: 8vh;
  max-height: 60px;
  background-color: rgb(21, 99, 11);
  bottom: 0;
  left: 0;
  border-radius: 0px;
}

.obstacle {
  position: absolute;
  background-color: brown;

}

.longH {
  width: 30vw;
  max-width: 300px;
  height: 5vh;
  max-height: 50px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px;
}

.longV {
  width: 4vw;
  max-width: 40px;
  height: 30vh;
  max-height: 300px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px;
}